@import "bootstrap-sprockets";
@import "bootstrap";
@import "tickets.scss";

.fsl-border {
  background: #f2f2f2;
  border-radius: 25px;
  border: 0.5px solid #a9a3a3;
  padding: 20px; 
}

.fsl-divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.bg-danger {
    background-color: #f2dede;
}
a.bg-danger:hover {
    background-color: #e4b9b9;
}

.bg-success {
    background-color: #ebfaeb;
}

.jumbotron {
  color: #000;
  font-family: 'Helvetica Neue' !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-left: 5px;
  margin-right: 15px;
  
}